#profilePic {
  font-size: 100px;
}
.form-group label {
  font-weight: 500;
}
.form-group input[type="text"] {
  border: 0;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  background: #eee;
}
.form-group input[type="text"]:focus,
.form-group input[type="text"]:active {
  outline: none;
  box-shadow: none;
  border-bottom: 1px solid #007bff;
}
